<div class="padding-md">
<div class="col-md-12">
    <div class="smart-widget">
        <div class="smart-widget-inner">
            <div class="smart-widget-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active ">
                        <h4 class="header-text m-top-md">新增 资源</h4>
                        <form action="__ROOT__/Admin/User/doAction/action/addNew" id="addForm" name="addForm" class="form-horizontal m-top-md" enctype="multipart/form-data" method="post">
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-offset-4">
                                    <input type="file" id="file_upload" name="file_upload" />
                                </div>
                            </div>
                        </form>
                    </div><!-- ./tab-pane -->
                </div><!-- ./tab-content -->
            </div><!-- ./smart-widget-body -->
        </div><!-- ./smart-widget-inner -->
    </div><!-- ./smart-widget -->
</div>

<div class="col-md-12">
    <div class="gallery-list js-masonry m-top-md" id="imgs">
        <!--<div class="gallery-item">-->
            <!--<div class="gallery-wrapper">-->
                <!--<a class="gallery-remove"><i class="fa fa-times"></i></a>-->
                <!--<img src="__PUBLIC__/Uploads/profile/576e75b590d99.jpg" alt="">-->
                <!--<div class="gallery-title">-->
                    <!--Gallery's Name-->
                <!--</div>-->
                <!--<div class="gallery-overlay">-->
                    <!--<a href="__PUBLIC__/Uploads/profile/576e75b590d99.jpg" class="gallery-action enlarged-photo">-->
                        <!--<i class="fa fa-search-plus fa-lg"></i>-->
                    <!--</a>-->
                    <!--<a href="#" class="gallery-action animation-dalay"><i class="fa fa-link fa-lg"></i></a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div><!-- ./gallery-list -->
    <!--<div class="smart-widget">-->

         <!--<div class="form-group">-->
            <!--<div id="imgs">-->
                <!--<img src="" width="120" id="upload-img" name="upload-img"/>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>&lt;!&ndash; ./smart-widget &ndash;&gt;-->
</div>
</div>