<div class="padding-md">
    <h2 class="header-text no-margin">
        Gallery
    </h2>

    <div class="gallery-filter m-top-md">
        <ul class="clearfix">
            <li class="active"><a href="#">All</a></li>
            <li><a href="#">Albums</a></li>
            <li><a href="#">Friends</a></li>
            <li><a href="#">Trips</a></li>
            <li><a href="#">Business</a></li>
        </ul>
    </div>

    <div class="gallery-list js-masonry m-top-md">
        <foreach name="data" item="vo">
            <switch name="vo.type">
                <case value="gif|png|jpg">
                    <div class="gallery-item" id= '{$vo.name}'>
                        <div class="gallery-wrapper">
                            <a class="gallery-remove" onclick="return removeImg({$vo.id},'{$vo.day}','{$vo.name}','{$vo.type}')"><i class="fa fa-times"></i></a>
                            <img src="__PUBLIC__/{$vo.path}" alt="">
                            <div class="gallery-title" id="title{$vo.name}">
                                {$vo.title}
                            </div>
                            <div class="gallery-overlay">
                                <a target="_blank" href="__PUBLIC__/{$vo.path}" class="gallery-action enlarged-photo">
                                    <i class="fa fa-search-plus fa-lg"></i>
                                </a>
                                <a href="#" class="gallery-action animation-dalay"><i class="fa fa-link fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                </case>
                <default />
                <div class="gallery-item">
                    <div class="gallery-wrapper" id= '{$vo.name}'>
                        <a class="gallery-remove" onclick="return removeImg({$vo.id},'{$vo.day}','{$vo.name}','{$vo.type}')"><i class="fa fa-times"></i></a>
                        <img class = textshow src="__PUBLIC__/img/Admin/media/text.png" alt="">
                        <div class="gallery-title" id="title{$vo.name}">
                            {$vo.title}
                        </div>
                        <div class="gallery-overlay">
                            <a target="_blank" href="__PUBLIC__/{$vo.path}" class="gallery-action enlarged-photo">
                                <i class="fa fa-search-plus fa-lg"></i>
                            </a>
                            <a href="#" class="gallery-action animation-dalay"><i class="fa fa-link fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </switch>
        </foreach>

    </div><!-- ./gallery-list -->
</div><!-- ./padding-md -->