<!--<html>-->
<!--<head>-->
    <!--<meta http-equiv="content-type" content="text/html; charset=utf-8">-->
    <!--<title>Index</title>-->
    <!--<link rel="stylesheet" href="__PUBLIC__/css/Admin/uploadify.css">-->
    <!--<script src='__PUBLIC__/js/Admin/jquery-1.11.1.min.js'></script>-->
    <!--<script src='__PUBLIC__/js/Admin/jquery.uploadify.min.js'></script>-->
<!--</head>-->
<!--<body>-->

<!--<div id="imgs"><img width="200px" src="__PUBLIC__/uploads/1.jpg"></div>-->
<!--<input id="file_upload" name="file_upload" type="file" multiple="true" value="" />-->

<!--</body>-->
<!--<script>-->
    <!--var img = '';-->
    <!--$('#file_upload').uploadify({-->
            <!--'swf'      : '__PUBLIC__/uploadify.swf',-->
            <!--'uploader' : '{:U("Index/upload")}',   //上传的方法-->
            <!--'buttonText' : '缩略图上传',-->
            <!--'onUploadSuccess' : function(file, data, response) {-->
             <!--//把所有上传的图片都放入DIV中-->
             <!--img += "<img width='200px' src='__PUBLIC__/Uploads/"+data+"'>";-->
            <!--$('#imgs').html(img);-->
        <!--}-->
    <!--});-->
<!--</script>-->
<!--</html>-->