<header class="top-nav">
	<div class="top-nav-inner">
		<div class="nav-header">
			<button type="button" class="navbar-toggle pull-left sidebar-toggle" id="sidebarToggleSM">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- 移动端使用 start-->
			<ul class="nav-notification pull-right">
				<li>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog fa-lg"></i></a>
					<span class="badge badge-danger bounceIn">1</span>
					<ul class="dropdown-menu dropdown-sm pull-right user-dropdown">
						<li class="user-avatar">
                            <img src="__PUBLIC__/Uploads/profile/{$_SESSION['img']}" alt="头像" class="img-circle">
							<div class="user-content">

								<h5 class="no-m-bottom">{$Think.session.username}</h5>

								<div class="m-top-xs">
									<div class="divider"></div>
									<a href="__ROOT__/Admin/User/doAction/action/the" class="m-right-sm">个人资料</a>
									<div class="divider"></div>
									<a href="__ROOT__/Admin/Login/logout">退出登录</a>
								</div>
							</div>
						</li>

					</ul>
				</li>
			</ul>
			<!-- 移动端使用 end-->
			<a href="__ROOT__/Admin/Index/index" class="brand">
				<i class="fa fa-database"></i><span class="brand-name">稿库系统后台管理</span>
			</a>
		</div>
		<div class="nav-container">
			<button type="button" class="navbar-toggle pull-left sidebar-toggle" id="sidebarToggleLG">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<ul class="nav-notification">
				<li class="search-list">
					<div class="search-input-wrapper">
						<div class="search-input">
							<input type="text" class="form-control input-sm inline-block">
							<a href="#" class="input-icon text-normal"><i class="ion-ios7-search-strong"></i></a>
						</div>
					</div>
				</li>
			</ul>
			<div class="pull-right m-right-sm">
				<div class="user-block hidden-xs">
					<a href="#" id="userToggle" data-toggle="dropdown">
						<img src="__PUBLIC__/Uploads/profile/{$_SESSION['img']}" alt="头像" class="img-circle inline-block user-profile-pic">
						<div class="user-detail inline-block">
							{$Think.session.username}
							<i class="fa fa-angle-down"></i>
						</div>
					</a>
					<div class="panel border dropdown-menu user-panel">
						<div class="panel-body paddingTB-sm">
							<ul>
								<li>
									<a href="__ROOT__/Admin/User/doAction/action/the">
										<i class="fa fa-edit fa-lg"></i><span class="m-left-xs">个人资料</span>
									</a>
								</li>
								<li>
									<a href="__ROOT__/Admin/Login/logout">
										<i class="fa fa-power-off fa-lg"></i><span class="m-left-xs">退出登录</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
                <ul class="nav-notification">
                    <li class="">
                        <a href="#" data-toggle="dropdown"><i class="fa fa-envelope fa-lg"></i></a>
                        <span class="badge badge-danger bounceIn animation-delay5 active">{$activeNoticeCount}</span>
                        <ul class="dropdown-menu message pull-right">
                            <li><a>您 有 {$activeNoticeCount} 条 新 通 知</a></li>
                            <foreach name="activeNotice" item="vo" key="k">
                            <li>
                                <a class="clearfix gallery-action animation-dalay" href="#" data-toggle="modal" data-target="#normalModal{$k}">
                                    <div class="detail">
                                        <strong>{$vo.title}</strong>
                                        <small class="text-muted"><i class="fa fa-check text-success"></i>{$vo.time} 发布</small>
                                    </div>
                                </a>
                            </li>
                                <div class="modal fade" id="normalModal{$k}" aria-hidden="true" style="display: none;" data-backdrop="static">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form action="__ROOT__/Admin/Media/doAction/action/update/status/{$status}" method="post">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">
                                                        <span aria-hidden="true">×</span>
                                                        <span class="sr-only">Close</span>
                                                    </button>
                                                    <h4 class="modal-title">当前通知:</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-10 col-md-offset-1">
                                                            <div class="form-group">
                                                                <label class="control-label" for="title">标题:</label>
                                                                <input class="form-control" type="text" id="title" name="title" disabled value={$vo.title}>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="">描述:</label>
                                                                <textarea class="form-control" rows="15" name="content" type="text" disabled>{$vo.content}</textarea>
                                                            </div>
                                                            <if condition="$vo.liked eq 1">
                                                                <a href="#">
                                                                    <span class="label label-default center-block" style="padding: 8px;margin: 15px">
                                                                            <i class="text-danger fa fa-heart"></i>
                                                                            已读
                                                                    </span>
                                                                </a>
                                                            <else/>
                                                                <!--<a href="__ROOT__/Admin/Media/doAction/action/collect/id/{$vo.id}/status/{$status}">-->
                                                                <!--<span class="label label-warning center-block" style="padding: 8px;margin: 15px">-->
                                                                <!--<i class="text-danger fa fa-heart"></i>-->
                                                                <!--未读-->
                                                                <!--</span>-->
                                                                <!--</a>-->
                                                            </if>
                                                        </div>

                                                    </div>
                                                </div>
                                            </form>



                                        </div>
                                    </div>
                                </div>
                            </foreach>

                        </ul>
                    </li>
                    <li class="chat-notification">
                        <a href="#"><i class="fa "></i></a>

                    </li>
                </ul>
			</div>

		</div>
	</div><!-- ./top-nav-inner -->
</header>