<foreach name="Think.session.activeNotice" item="vo" key="k">
    <div class="modal fade" id="noticeModal{$k}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">当前通知:</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="title">标题:</label>
                                <input class="form-control" type="text" id="title" name="title" disabled value="{$vo.title}">
                            </div>
                            <!--存在的情况下才显示-->
                            <if condition="$vo.link neq ''">
                                <div class="form-group">
                                    <a href="{$vo.link}" target="_blank" >链接地址：{$vo.link}</a>
                                </div>
                            </if>
                            <div class="form-group">
                                <label class="">描述:</label>
                                <textarea class="form-control" rows="15" name="content" type="text" disabled>{$vo.content}</textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</foreach>