<extend name="post_layout" />
<block name="post_content">
    <div class="col-md-12 col-md-12 col-md-12">
        <div class="smart-widget">
            <div class="smart-widget-inner">

                <div class="smart-widget-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active">
                            <h4 class="header-text m-top-md">撰 写 新 文 章</h4>
                            <form class="form-horizontal m-top-md" enctype="multipart/form-data" method="post">
                                <div class="form-group">
                                    <div class="col-sm-12 col-md-12 col-xs-12">
                                        <input type="text" class="form-control" placeholder="在此输入标题" name="newTitle" id="newTitle">
                                    </div>
                                </div>

                                <div class="form-group" id="upLoadBtn">
                                    <div class="col-sm-12 col-md-12 col-xs-12">
                                        <input type="file" id="file_upload" name="file_upload" />
                                    </div>
                                </div>

                                <div class="form-group" id = "attachmentDiv" style="display: none">
                                    <div class="col-md-12">
                                        <div class="gallery-list js-masonry m-top-md" id="imgs"></div>
                                    </div>
                                </div>

                               <script id="container" name="content" type="text/plain"></script>

                                <div class="form-group" id="dept" >
                                    <label class="col-md-1 col-xs-4" style="margin-top: 5px">提交部门</label>
                                    <div class="col-md-10 col-xs-8">
                                        {$dept}
                                    </div>
                                </div>
                                <br/>
                                <div class="form-group">
                                    <div class="col-sm-2  col-sm-offset-2 col-xs-4" >
                                        <input type="button" class="btn btn-sm btn-info btn-block submit-btn" onclick="return addFormSubmit('pending');" value="提交审核">
                                    </div>
                                    <div class="col-sm-2 col-sm-offset-1 col-xs-4"  >
                                        <input type="button" class="btn btn-sm btn-warning btn-block submit-btn" onclick="return addFormSubmit('save');" value="保存">
                                    </div>
                                    <div class="col-sm-2 col-sm-offset-1 col-xs-4">
                                        <input type="button" class="btn btn-sm btn-default m-left-xs btn-block submit-btn" onclick="return resetAddForm();" value="取消" id="res">
                                    </div>
                                </div>

                            </form>
                        </div><!-- ./tab-pane -->
                    </div><!-- ./tab-content -->
                </div><!-- ./smart-widget-body -->
            </div><!-- ./smart-widget-inner -->
        </div><!-- ./smart-widget -->
    </div>
</block>