<div class="col-md-12">
    <ul class="breadcrumb">
        <li>文章</li>
        <li>
            <a href="__ROOT__/Admin/Post/doAction/action/all"> 文章一览表</a>
        </li>
    </ul>

    <!--大屏幕尺寸-->
    <div class="smart-widget">
        <div class="hidden-xs">
            <div class="smart-widget-header">
                <a href="__ROOT__/Admin/Post/doAction/action/all">所有
                    <span class="badge badge-primary bounceIn animation-delay3 active">{$allCount}</span>
                </a> &nbsp; &nbsp; &nbsp;
                <if condition = "$auto neq ZONGBIAN">
                    <a href="__ROOT__/Admin/Post/doAction/action/all/status/pending">待审核
                        <span class="badge badge-danger bounceIn animation-delay3 active">{$peningCount}</span>
                    </a> &nbsp; &nbsp; &nbsp;
                </if>
                <if condition = "$auto neq BAOLIAOZHE">
                    <a href="__ROOT__/Admin/Post/doAction/action/all/status/pending2">待最终审核
                        <span class="badge badge-warning bounceIn animation-delay3 active">{$pening2Count}</span>
                    </a> &nbsp; &nbsp; &nbsp;
                </if>
                <a href="__ROOT__/Admin/Post/doAction/action/all/status/pended">审核通过
                    <span class="badge badge-info bounceIn animation-delay3 active">{$pendedCount}</span>
                </a> &nbsp; &nbsp; &nbsp;
                <a href="__ROOT__/Admin/Post/doAction/action/all/status/dismiss">审核未通过
                    <span class="badge badge-purple bounceIn animation-delay3 active">{$dismissCount}</span>
                </a> &nbsp; &nbsp; &nbsp;
                <if condition = "$auto neq BAOLIAOZHE">
                    <a href="__ROOT__/Admin/Post/doAction/action/all/status/return">文章打回
                        <span class="badge badge-success bounceIn animation-delay3 active">{$returnCount}</span>
                    </a> &nbsp; &nbsp; &nbsp;
                </if>
                {$showSave}
            <span class="smart-widget-option">
                <span class="refresh-icon-animated">
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                </span>
                <a href="#" class="widget-toggle-hidden-option">
                    <i class="fa fa-cog"></i>
                </a>
                <a href="#" class="widget-collapse-option" data-toggle="collapse">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </span>
            </div>
            <div class="smart-widget-inner">
                <div class="smart-widget-hidden-section">
                    <ul class="widget-color-list clearfix">
                        <li style="background-color:#20232b;" data-color="widget-dark"></li>
                        <li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
                        <li style="background-color:#23b7e5;" data-color="widget-blue"></li>
                        <li style="background-color:#2baab1;" data-color="widget-green"></li>
                        <li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
                        <li style="background-color:#fbc852;" data-color="widget-orange"></li>
                        <li style="background-color:#e36159;" data-color="widget-red"></li>
                        <li style="background-color:#7266ba;" data-color="widget-purple"></li>
                        <li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
                        <li style="background-color:#fff;" data-color="reset"></li>
                    </ul>
                </div>
                <div class="smart-widget-body">
                    <table class="table table-hover center">

                        <thead style="text-align: center">
                        <tr>
                            <th><h5>文章标题</h5></th>
                            <th><h5>{$authorName}</h5></th>
                            <th><h5>审批者</h5></th>
                            <th><h5>所属部门</h5></th>
                            <th><h5>得分</h5></th>
                            <th><h5>发布日期</h5></th>
                            <th><h5>最新时间</h5></th>
                            <th><h5>状态</h5></th>
                            <th><h5>操作</h5></th>
                        </tr>
                        </thead>
                        <tbody style="text-align: center">
                        <if condition = "$allPost neq '' ">
                            <foreach name="allPost" item="vo" key="k">
                                <tr>
                                    <td>{$vo.post_title}</td>
                                    <if condition = "$auto neq BAOLIAOZHE">
                                        <td><a href="__ROOT__/Admin/Post/doAction/action/all/userSearch/{$vo.post_author}">{$vo.username}</a></td>
                                    <else />
                                        <td>{$vo.username}</td>
                                    </if>

                                    <td>{$vo.post_judge}</td>

                                    <td>
                                        <if condition = "($auto eq ADMIN) OR ($auto eq BAOLIAOZHE) ">
                                            <foreach name="vo.post_dept" item="voo">
                                                <a href="__ROOT__/Admin/Post/doAction/action/all/deptSearch/{$voo}">{$voo}</a> &nbsp;
                                            </foreach>
                                        <else />
                                            <foreach name="vo.post_dept" item="voo">
                                                {$voo} &nbsp;
                                            </foreach>
                                        </if>
                                    </td>
                                    <td>{$vo.score|default=0}</td>
                                    <td>{$vo.post_date}</td>
                                    <td>{$vo.post_modified}</td>
                                    <td>{$vo.post_status}</td>
                                    <td>
                                        <a target="_blank" href="__ROOT__/Admin/Post/doAction/action/the/id/{$vo.id}/preview/1">
                                            <i class="fa fa-eye"></i> 预览
                                        </a>
                                        <if condition="$vo.post_canEdit eq 1">
                                            <if condition = "($auto neq ADMIN) AND ($auto neq DEPT_ADMIN) ">
                                                <a href="__ROOT__/Admin/Post/doAction/action/the/id/{$vo.id}">
                                                    &nbsp <i class="fa fa-edit"></i> 编辑
                                                </a>
                                            </if>
                                            <a href="javascript:delPost({$vo['id']});">
                                                &nbsp <i class="fa fa-trash">删除</i>
                                            </a>
                                        <elseif condition="$vo.post_canEdit eq 0"/>

                                            <a href="#" data-toggle="modal" data-target="#normalModal{$k}">
                                                &nbsp <i class="fa fa-edit"></i> 查看原因
                                            </a>
                                        <elseif condition="$vo.post_canEdit eq 10"/>

                                            <a href="#" data-toggle="modal" data-target="#normalModal{$k}">
                                                &nbsp <i class="fa fa-edit"></i> 查看原因
                                            </a>
                                            <if condition = "($auto neq ADMIN) AND ($auto neq DEPT_ADMIN) ">
                                                <a href="__ROOT__/Admin/Post/doAction/action/the/id/{$vo.id}">
                                                    &nbsp <i class="fa fa-edit"></i> 编辑
                                                </a>
                                            </if>

                                        <else/>
                                        </if>
                                        <div class="modal fade" id="normalModal{$k}" aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span aria-hidden="true">×</span>
                                                            <span class="sr-only">Close</span>
                                                        </button>
                                                        <h4 class="modal-title">文章未审核通过,原因如下:</h4>
                                                    </div>
                                                    <div class="modal-body">

                                                        {$vo.post_dismiss_msg}

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </foreach>
                        <else />
                            <tr><td colspan=8>没有数据</td></tr>
                        </if>
                        </tbody>
                    </table>
                    <div>{$page}</div>
                </div>
            </div><!-- ./smart-widget-inner -->
        </div>
        <div class="visible-xs">
            <div class="smart-widget-header">
                <a href="__ROOT__/Admin/Post/doAction/action/all">所有
                    <span class="badge badge-primary bounceIn animation-delay3 active">{$allCount}</span>
                </a> &nbsp;
                <a href="__ROOT__/Admin/Post/doAction/action/all/status/pended">审核通过
                    <span class="badge badge-info bounceIn animation-delay3 active">{$pendedCount}</span>
                </a> &nbsp;
            <span class="smart-widget-option">
                <span class="refresh-icon-animated">
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                </span>
                <a href="#" class="widget-toggle-hidden-option">
                    <i class="fa fa-cog"></i>
                </a>
                <a href="#" class="widget-collapse-option" data-toggle="collapse">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </span>
            </div>
            <div class="smart-widget-inner">
                <div class="smart-widget-hidden-section">
                    <ul class="widget-color-list clearfix">
                        <li style="background-color:#20232b;" data-color="widget-dark"></li>
                        <li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
                        <li style="background-color:#23b7e5;" data-color="widget-blue"></li>
                        <li style="background-color:#2baab1;" data-color="widget-green"></li>
                        <li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
                        <li style="background-color:#fbc852;" data-color="widget-orange"></li>
                        <li style="background-color:#e36159;" data-color="widget-red"></li>
                        <li style="background-color:#7266ba;" data-color="widget-purple"></li>
                        <li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
                        <li style="background-color:#fff;" data-color="reset"></li>
                    </ul>
                </div>
                <div class="smart-widget-body">
                    <table class="table table-hover center">

                        <thead style="text-align: center">
                        <tr>
                            <th><h5>标题</h5></th>
                            <th><h5>状态</h5></th>
                            <th><h5>操作</h5></th>
                        </tr>
                        </thead>
                        <tbody style="text-align: center">
                        <if condition = "$allPost neq '' ">
                            <foreach name="allPost" item="vo">
                                <tr>
                                    <td>{$vo.post_title_small}</td>
                                    <td>{$vo.post_status}</td>
                                    <td>
                                        <a target="_blank" href="__ROOT__/Admin/Post/doAction/action/the/id/{$vo.id}/preview/1">
                                            <i class="fa fa-eye"></i> 预览
                                        </a>
                                    </td>
                                </tr>
                            </foreach>
                            <else />
                            <tr><td colspan=3>没有数据</td></tr>
                        </if>
                        </tbody>
                    </table>
                    <div>{$page}</div>
                </div>
            </div>
        </div>
    </div><!-- ./smart-widget -->
</div>