<div class="col-md-12">
    <ul class="breadcrumb">
        <li>文章</li>
        <li>文章一览表</li>
    </ul>
    <div class="smart-widget">

        <div class="smart-widget-header">
            <a href="__ROOT__/Admin/Post/doAction/action/all" class="">所有  <span class="badge badge-primary bounceIn animation-delay3 active">{$allCount}</span></a> &nbsp; &nbsp; &nbsp;
            <a href="__ROOT__/Admin/Post/doAction/action/all/status/pending" class="">待审核  <span class="badge badge-danger bounceIn animation-delay3 active">{$peningCount}</span></a> &nbsp; &nbsp; &nbsp;
            <a href="__ROOT__/Admin/Post/doAction/action/all/status/pended" class="">已审核  <span class="badge badge-success bounceIn animation-delay3 active">{$pendedCount}</span></a> &nbsp; &nbsp; &nbsp;
            {$showSave}

            <!--<span class="col-sm-offset-1">-->
                <!--{$dept}-->
                <!--&lt;!&ndash;<a href=" " class="btn btn-sm btn-danger right">&nbsp; &nbsp; 查 &nbsp; 找 &nbsp; &nbsp; </a>&nbsp;&ndash;&gt;-->
                <!--<button type="submit" class="btn btn-sm btn-danger right" name="deptSearch" id="deptSearch">&nbsp; &nbsp; 查 &nbsp; 找 &nbsp; &nbsp; </button>&nbsp;-->
            <!--</span>-->


                <!--<div class="col-sm-3" id="sel" name = "sel">-->
                    <!--<select id="sel1" name = "sel1" class="form-control col-sm-2"">-->
                        <!--<option>部门1</option>-->
                        <!--<option>部门2</option>-->
                        <!--<option>部门3</option>-->
                        <!--<option>部门4</option>-->
                    <!--</select>-->

                <!--</div>-->

            <span class="smart-widget-option">
                <span class="refresh-icon-animated">
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                </span>
                <a href="#" class="widget-toggle-hidden-option">
                    <i class="fa fa-cog"></i>
                </a>
                <a href="#" class="widget-collapse-option" data-toggle="collapse">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </span>

        </div>

        <div class="smart-widget-inner">
            <div class="smart-widget-hidden-section">
                <ul class="widget-color-list clearfix">
                    <li style="background-color:#20232b;" data-color="widget-dark"></li>
                    <li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
                    <li style="background-color:#23b7e5;" data-color="widget-blue"></li>
                    <li style="background-color:#2baab1;" data-color="widget-green"></li>
                    <li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
                    <li style="background-color:#fbc852;" data-color="widget-orange"></li>
                    <li style="background-color:#e36159;" data-color="widget-red"></li>
                    <li style="background-color:#7266ba;" data-color="widget-purple"></li>
                    <li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
                    <li style="background-color:#fff;" data-color="reset"></li>
                </ul>
            </div>
            <div class="smart-widget-body">
                <table class="table table-hover center">
                    <thead style="text-align: center">
                    <tr>
                        <th><h5>文章标题</h5></th>
                        <th><h5>作者</h5></th>
                        <th><h5>所属部门</h5></th>
                        <th><h5>发布日期</h5></th>
                        <th><h5>修改时间</h5></th>
                        <th><h5>状态</h5></th>
                        <th><h5>操作</h5></th>
                    </tr>
                    </thead>
                    <tbody style="text-align: center">
                    <if condition = "$allPost neq '' ">
                        <foreach name="allPost" item="vo">
                            <tr>
                                <td>{$vo.post_title}</td>
                                <td>{$vo.username}</td>
                                <td>
                                    <if condition = "$isAdmin eq 1 ">
                                        <foreach name="vo.post_dept" item="voo">
                                        <a href="__ROOT__/Admin/Post/doAction/action/all/deptSearch/{$voo}">{$voo}</a>
                                        <!--<a href="#">{$vo.post_dept}</a>-->
                                        </foreach>
                                    <else />
                                        <foreach name="vo.post_dept" item="voo">
                                            <a href="#">{$voo}</a>
                                            <!--<a href="#">{$vo.post_dept}</a>-->
                                        </foreach>
                                    </if>
                                </td>
                                <td>{$vo.post_date}</td>
                                <td>{$vo.post_modified}</td>
                                <td>{$vo.post_status}</td>
                                <td>
                                    <a href="__ROOT__/Admin/Post/doAction/action/the/id/{$vo.id}">
                                        <i class="fa fa-edit"></i>{$editShow}
                                    </a>
                                    <a href="javascript:delPost({$vo['id']});">
                                        &nbsp <i class="fa fa-trash">删除</i>
                                    </a>
                                </td>
                            </tr>
                        </foreach>
                    <else />
                        <tr><td colspan=6>没有数据</td></tr>
                    </if>
                    </tbody>
                </table>
                <div>{$page}</div>
            </div>
        </div><!-- ./smart-widget-inner -->
    </div><!-- ./smart-widget -->
</div>