<!DOCTYPE html>
<html lang="en">
<head>

    <include file='./head_layout' />

    <link href="//cdn.bootcss.com/summernote/0.8.0/summernote.css" rel="stylesheet">

    <link rel="stylesheet" href="__PUBLIC__/css/Admin/uploadifive.css">

    <link href="__PUBLIC__/css/Admin/common.css" rel="stylesheet">

<body class="overflow-hidden">
<div class="wrapper preload">
    <!-- 导入 nav-->
    <include file='./header' />

    <!-- 导入左边栏-->
    <include file='./aside'/>

    <div class="main-container">
        <div class="padding-md">
            <div class="row user-profile-wrapper">

                <!--加入通知模态框-->
                <include file='./noticeModel'/>


                <block name="post_content">
                    内容
                </block>

            </div>
        </div>
    </div><!-- /main-container -->
    <!-- 导入footer -->
    <include file = './footer'/>
</div><!-- /wrapper -->

<include file = './js_layout'/>

<script src="//cdn.bootcss.com/summernote/0.8.1/summernote.min.js"></script>

<script src='__PUBLIC__/js/Admin/jquery.uploadifive.min.js'></script>

<script src="__PUBLIC__/js/Admin/post.js?v=20160106"></script>

<script src="__PUBLIC__/js/Admin/summernote-zh-CN.js"></script>

</body>
</html>