<div class="col-md-12">
    <div class="smart-widget">
        <div class="smart-widget-inner">

            <div class="smart-widget-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active">
                        <h4 class="header-text m-top-md">修 改 文 章</h4>
                        <form action="__ROOT__/Admin/Post/doAction/action/update" class="form-horizontal m-top-md" enctype="multipart/form-data" method="post">
                            <input type="hidden" value={$postid} id="postid">
                            <input style="display: none" name="oldTitle" value={$title} />
                            <textarea style="display: none" id="content" >{$content}</textarea>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" value={$title} name="title" id="title">
                                </div>
                            </div>
                            <br/>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div id="summernote" name = "summernote">

                                    </div>
                                </div>
                            </div>

                            <empty name="showDeptCheckBox">
                                <div class="form-group" id="dept" style="display: none">
                                    <label class="col-sm-1 control-label">提交部门</label>
                                    <div class="col-sm-11">
                                        {$theDept}
                                    </div>
                                </div>
                            <else/>
                                <div class="form-group" id="dept">
                                    <label class="col-sm-1 control-label">提交部门</label>
                                    <div class="col-sm-11">
                                        {$theDept}
                                    </div>
                                </div>
                            </empty>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <textarea style="display: none" rows="4" class="form-control" id="dismiss_msg" placeholder="请输入不通过的原因"></textarea>
                                </div>
                            </div>



                            <div class="form-group m-top-lg hidden-xs">
                                {$btn}
                            </div>

                            <div class="form-group m-top-lg visible-xs">
                                <div class="col-xs-12">
                                {$btnSmall}
                                </div>
                            </div>

                        </form>
                    </div><!-- ./tab-pane -->
                </div><!-- ./tab-content -->
            </div><!-- ./smart-widget-body -->
        </div><!-- ./smart-widget-inner -->
    </div><!-- ./smart-widget -->
</div>