<extend name="user_layout" />
<block name="user_content">
    <include file='./User/userLeftAside' />
    <div class="col-md-9">
        <div class="smart-widget">
            <div class="smart-widget-inner">
                <ul class="nav nav-tabs tab-style2 tab-right bg-grey">

                    <li>
                        <a href="#" data-toggle="tab">
                            <span class="icon-wrapper"><i class="fa fa-book"></i></span>
                            <span class="text-wrapper">个人信息</span>
                        </a>
                    </li>
                </ul>
                <div class="smart-widget-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active">
                            <h4 class="header-text m-top-md">新增 用户</h4>
                            <form action="__ROOT__/Admin/User/doAction/action/addNew" id="addForm" name="addForm" class="form-horizontal m-top-md" enctype="multipart/form-data" method="post">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">用户名（必填大于六位）</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="" name="user_login" id="user_login"
                                               aria-describedby="inputSuccess2Status">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">姓名</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="" name="user_name" id="user_name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">电子邮件（必填）</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="" name="user_email" id="user_email">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">性别</label>
                                    <div class="col-sm-8">
                                        <div class="radio inline-block">
                                            <div class="custom-radio m-right-xs">
                                                <input type="radio" checked id="sex1" value="1" name="sex">
                                                <label for="sex1"></label>
                                            </div>
                                            <div class="inline-block vertical-top">男</div>
                                        </div>
                                        <div class="radio inline-block m-left-sm">
                                            <div class="custom-radio m-right-xs">
                                                <input type="radio" id="sex2" value="0" name="sex">
                                                <label for="sex2"></label>

                                            </div>
                                            <div class="inline-block vertical-top">女</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">初始密码(可修改)</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="{$autopass}" name="user_pass" id = "user_pass">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">头像</label>
                                    <div class="col-sm-8">
                                        <input type="file" accept="image/*" id="file_upload" name="file_upload">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-8">
                                        <div id="imgs">
                                            <img src="__PUBLIC__/Uploads/profile/default.jpg" width="120" id="upload-img" name="upload-img"/>
                                        </div>
                                    </div>
                                </div>
                                <notempty name="showDept">
                                    <div class="form-group" id="dept">
                                        <label class="col-sm-3 control-label" style="margin-top: 5px;">部门</label>
                                        <div class="col-sm-8">
                                            {$dept}
                                        </div>
                                    </div>
                                <else/>
                                    <div class="form-group" id="dept" style="display: none">
                                        <label class="col-sm-3 control-label" style="margin-top: 5px;">部门</label>
                                        <div class="col-sm-8">
                                            {$dept}
                                        </div>
                                    </div>
                                </notempty>

                                <notempty name="auto">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">角色</label>
                                        <div class="col-sm-8">
                                            {$auto}
                                        </div>
                                    </div>
                                </notempty>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">发送用户通知</label>
                                    <div class="col-sm-8">

                                        <div class="checkbox inline-block">
                                            <div class="custom-checkbox">
                                                <input type="checkbox" id="isSend" name="isSend" class="checkbox-blue" checked>
                                                <label for="isSend"></label>
                                            </div>
                                            <div class="inline-block vertical-top">
                                                向新用户发送电子邮件
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-top-lg">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-8">
                                        <input type="submit" class="btn btn-info" value="提交" name="send" id="send">
                                        <input type="reset" class="btn  btn-default m-left-xs" value="取消" id="res">
                                    </div>
                                </div>
                            </form>
                        </div><!-- ./tab-pane -->
                    </div><!-- ./tab-content -->
                </div><!-- ./smart-widget-body -->
            </div><!-- ./smart-widget-inner -->
        </div><!-- ./smart-widget -->
    </div>
</block>