<extend name="login_layout" />

<block name="login_title"><title>忘记密码</title></block>

<block name="login_content">
    <p class="message">请输入您的用户名或电子邮箱地址。您会收到一封包含创建新密码链接的电子邮件。</p>

    <form method="post" action="__APP__/Admin/Login/index" id="lostpasswordform" name="lostpasswordform">
        <p>
            <label for="user_login">用户名或电子邮件地址<br>
            <input type="text" size="20" value="" class="input" id="user_login" name="user_login"></label>
        </p>
            <input type="hidden" value="" name="redirect_to">
        <p class="submit">
            <input type="submit" value="获取新密码" class="button button-primary button-large" id="wp-submit" name="wp-submit">
        </p>
    </form>

    <p id="nav">
        <a href="login.html">登录</a> |
        <a href="./register.html">注册</a></p>

    <p id="backtoblog">
    <a href="http://localhost/NewWordpress/">← 回到稿库系统</a></p>
</block>

<block name="login_js">
    <script type="text/javascript" src="__PUBLIC__/js/Admin/lostpass.js?v=20160102"></script>
</block>