<extend name="login_layout" />

<block name="login_title"><title>注册表单</title></block>

<block name="login_content">
    <p class="message register">在这个站点注册</p>
    <form novalidate="novalidate" method="post" action="__APP__/Admin/Login/index" id="registerform" name="registerform">
        <p>
            <label for="user_login">用户名<br>
                <input type="text" size="20" value="" class="input inputxt Validform_error" id="user_login" name="user_login" />
            </label>
        </p>
        <p>
            <label for="user_email">电子邮件<br>
                <input type="email" size="25" value="" class="input" id="user_email" name="user_email" >
            </label>
        </p>
        <p id="reg_passmail">注册确认信将会被寄给您。</p>
        <br class="clear">
        <input type="hidden" value="" name="redirect_to">
        <p class="submit">
            <input type="submit" value="注册" class="button button-primary button-large" id="wp-submit" name="wp-submit">
        </p>
    </form>

    <p id="nav">
        <a href="login.html">登录</a> |
        <a href="lostpassword.html">忘记密码？</a>
    </p>
</block>

<block name="login_js">
    <script type="text/javascript" src="__PUBLIC__/js/Admin/reg.js?v=20160102"></script>
</block>